*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: url(images/fondo.jpeg);
    object-fit: cover;
    background-attachment: fixed;
}

.batsa{
    position: sticky;
    top: 0;
    z-index: 10;
    animation: encabezado 1s ease forwards;
}

.batsa hr{
    height: 5px;
    border: 0;
    background: gold;
}

.encabezado{
    z-index: 10;
    height: 60px;
    background: black;
    display: flex;
    justify-content: space-between;
    line-height: 60px;
    padding-right: 25px;
}

.encabezado img{
    cursor: pointer;
    height: 40px;
    margin-top: 12px;
    margin-left: 30px;
    transition: filter .2s ease, transform .2s ease;
}

.encabezado img:hover{
    filter: drop-shadow(2px 2px 2px gold);
    transform: scale(1.05);
}

.navegacion a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: black;
    border-radius: 5px;
    transition: background .2s ease, color .2s ease, padding .2s ease;
}

.navegacion a:hover{
    background: white;
    color: black;
    padding: 15px;
}

@keyframes encabezado {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

.contenedor-intro{
    margin-top: 250px;
    background: white;
    padding: 25px;
}
.contenedor-intro h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 25px;
}

.contenedor-intro p{
    font-size: 20px;
    margin-left: 200px;
    margin-right: 200px;
}

.contenedor-intro img{
    z-index: 1;
    position: relative;
    filter: drop-shadow(0 0 5px white);
    height: 200px;
    margin-top: -150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: filter .2s ease;
}

.contenedor-intro img:hover{
    filter: drop-shadow(0 0 10px gold);
}

.contenedor-influencias{
    background: white;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    padding: 20px;
    border-radius: 15px;
}

.contenedor-influencias img{
    height: 200px;
    margin-top: 20px;
    float: left;
}

.contenedor-influencias hr{
    margin-top: 25px;
    margin-left: 100px;
    margin-right: 100px;
    opacity: 1;
    background: black;
    height: 3px;
}

.dachicos{
    padding-top: 20px;
    text-align: center;
    font-size: 50px;
}

.banda-nombre{
    margin-top: 40px;
    font-size: 40px;
    text-align: center;
    margin-bottom: 10px;
}

.banda-txt{
    font-size: 20px;
}

.pie img{
    height: 30px;
}

.pie{
    padding: 5px;
    background: white;
    display: flex;
    justify-content: space-evenly;
}

footer{
    position: sticky;
    bottom: 0;
    animation: pie 1s ease forwards;
}

@keyframes pie {
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(0);
    }
}

footer hr{
    background: black;
    border: 0;
    height: 2px;
}

.integrante{
    margin-top: 100px;
    background: white;
    width: 250px;
    border-radius: 10px;
    transition: transform .3s ease;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.integrante img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    padding: 20px;
    border-radius: 50px;
}

.integrante .brian{
    margin-left: 9px;
}

.integrante a{
    text-align: center;
    text-decoration: none;
    color: black;
}

.integrante:hover{
    transform: scale(1.05);
}

.integrantes{
    display: flex;
    margin-top: -25px;
    margin-bottom: 100px;
}

.album h1{
    text-align: center;
    padding: 10px;
    font-size: 20px;
}

.album p{
    text-align: center;
    margin-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.album{
    background: white;
    width: 300px;
    border-radius: 25px;
    margin: auto;
    height: 380px;
    margin-top: 25px;
    transition: transform .2s ease;
    cursor: pointer;
}

.album:hover{
    transform: scale(1.05);
}

.album audio{
    height: 25px;
    width: 250px;
    display: block;
    margin: auto;
    margin-top: 5px;
}

.album img{
    width: 225px;
    display: block;
    margin: auto;
    border-radius: 25px;
}

.albumes{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.dos{
    display: flex;
    margin-left: 325px;
    margin-right: 325px;
}

.titulo{
    background: white;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
}

.contenedor-contacto{
    background: white;
    padding: 50px;
    text-align: center;
}

.contenedor-contacto h1{
    border: 3px solid black;
    margin-bottom: 50px;
}

.contenedor-contacto input{
    width: 100%;
    height: 25px;
}

.contenedor-contacto .mensaje{
    height: 250px;
    box-sizing: border-box;
    padding-bottom: 225px;
}

.contenedor-miembro{
    background: white;
    height: auto;
}

.contenedor-miembro h1{
    text-align: center;
    padding-top: 50px;
    margin-bottom: 25px;
    font-size: 50px;
}

.contenedor-miembro p{
    font-size: 30px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 50px;
}

.contenedor-miembro img{
    height: 300px;
    float: left;
    margin-left: 100px;
    border-radius: 15px;
    border: 1px solid black;
    margin-right: 25px;
}

.producto{
    background: white;
    width: 200px;
    height: auto;
    border-radius: 15px;
    margin-bottom: 25px;
    transition: transform .1s ease;
}

.producto:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.producto img{
    width: 125px;
    display: block;
    margin: auto;
    padding-top: 10px;
    border-radius: 15px;
}

.producto h1{
    color: red;
    font-size: 20px;
    text-align: center;
}

.producto p{
    text-align: center;
    padding-bottom: 10px;
}

.productos{
    margin-left: 110px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.botonenv{
    background: blue;
    color: white;
    margin-top: 25px;
}

@media (max-width: 430px) and (max-height: 932px) {
    body{
        overflow-x: none;
    }
    .batsa{
        position: sticky;
        top: 0px;
        z-index: 10;
        width: 430px;
        animation: encabezado 1s ease forwards;
    }
    .encabezado a{
        font-size: 10px;
        padding: 5px;
    }
    .encabezado img{
        height: 25px;
        margin-top: 25px;
    }
    .contenedor-intro p{
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .contenedor-intro{
        padding: 0;
    }
    .contenedor-intro{
        padding-bottom: 25px;
    }
    .contenedor-influencias{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }
    .contenedor-influencias h1{
        font-size: 25px;
    }
    .contenedor-influencias img{
        height: 125px;
        float: none;
        display: block;
        margin: auto;
    }
    .integrantes{
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
    }
    .albumes{
        display: flex;
        flex-direction: column;
    }
    .dos{
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    .productos{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 10px;
    }
    .contenedor-contacto{
        height: 825px;
    }
}
